@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    margin:0 auto;
}
header{
    
    background-image: url('image/bg.JPG');
    height: 830px;
    background-repeat : no-repeat;
    background-size : cover;
    min-height: 100%;
    background-position: center;
}
a{
    text-decoration:none;
    color:white;
}
.main{
    display: flex;
    flex-direction: row;
}
.title{
    font-family: 'Noto Serif', serif;
    color:white;
    text-align: center;
    margin-left: 400px;
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}
nav, .secondnav{
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.05em;
    margin-top:200px;
    width:200px;
}
nav .nav li{
    list-style: none;
    height: 40px;
}
nav .nav a{
    text-decoration:none; 
    color:white;
}
nav .nav a:hover{
    color:darkolivegreen;
}
.secondnav{
    margin-left: 400px;
}
.secondnav .nav li{
    list-style: none;
    height: 40px;
}
.secondnav .nav a{
    text-decoration:none; 
    color:white;
}
.secondnav .nav a:hover{
    color:darkolivegreen;
}

footer{
    padding-top:10px;
    text-align: center;
    margin-top: 20px;
    background-color:white;
    color: black;
    height: 40px;
    width: 100%;
}