@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background-color: white;
    font-family: 'Noto Serif', serif;
    overflow: hidden;
  }
  
  h1{
    color: white;
    font-size: 100px;
    left: 50%;
    margin: 0;
    pointer-events: none;
    top: 40%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    
    @media (max-width: 600px){
      font-size: 10vmin;
    }
  }
 
  main {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
  }
  a{
    text-decoration:none;
    color:white;
}
  nav{
    margin-left: 100px;
    position:fixed;
    width:200px;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    letter-spacing: -0.05em;
    margin-top:200px;
}
nav li{
    list-style: none;
    /* height: 40px; */
}
nav a{
    text-decoration:none; 
   
}
nav a:hover{
    color:darkolivegreen;
}



.content {
height: 180%;
width: 100%;
}

.bg{
height: 100%;
width: 100%;
}
@media screen and (max-width: 768px) {
    img{
        display: none;
    }
}
@media screen and (max-width: 380px) {
    img{
        display: none;
    }
}