@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    overflow-x: hidden;
}
body{
    margin:0 auto;
}

a{
    text-decoration:none;
    color:black;
}
.main{
    display: flex;
    flex-direction: row;
    /* position:fixed; */
}

.title{
    position:fixed;
    margin-left:20px;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    width:100px;
    color:black;
    padding-left: 30px;
    padding-top:100px;
}
nav{
    margin-left: 100px;
    position:fixed;
    width:200px;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    letter-spacing: -0.05em;
    margin-top:200px;
}
nav .nav li{
    list-style: none;
    /* height: 40px; */
}
nav .nav a{
    text-decoration:none; 
    color:black;
}
nav .nav a:hover{
    color:darkolivegreen;
}
.cardbody{
    margin-left: 300px;
    /* margin-left: 330px; */
    /* flex: 1; */
    /* background-color: rebeccapurple; */
    position: relative;
    
}
.cardbodyname{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 20px;
    color: darkgreen;
    margin-top:40px;
}

.threecard{
    display:flex;
    padding-top:30px;
    
}
.card_1{
    background-image: url('milk/2.JPG');
}
.card_2{
    background-image: url('milk/3.JPG');
}
.card_3{
    background-image: url('milk/4.JPG');
}
.card_4{
    background-image: url('milk/5.JPG');
}
.card_5{
    background-image: url('milk/6.JPG');
}
.card_6{
    background-image: url('milk/1.JPG');
}
.card_7{
    background-image: url('milk/7.JPG');
}
.card_8{
    background-image: url('milk/8.JPG');
}
.card_9{
    background-image: url('milk/9.JPG');
}
.card_10{
    background-image: url('milk/10.JPG');
}
.card_11{
    background-image: url('milk/11.JPG');
}
.card_12{
    background-image: url('milk/12.JPG');
}
.card_13{
    background-image: url('milk/13.JPG');
}
.card_14{
    background-image: url('milk/14.JPG');
}
.card_15{
    background-image: url('milk/15.JPG');
}
.card{
    margin-left: 20px;
    width: 300px;
    border:1px solid black;
    height: 400px;
    /* background-color:grey; */
    background-position: center;
    background-repeat : no-repeat;
    background-size: 60%; 
    
}
.card .text{ 
    width:240px; 
    height:340px; 
    background:#000000; 
    opacity:0; 
    padding:30px;}


.card:hover .text { 
    opacity:0.6; 
    text-align:center; 
    color:#ffffff; }

.card .text strong{
    font-size: 2.3rem;
}
.card .text h2{
    margin-top: 150px;
    font-size:2.3rem;
}

.secondnav{
    position:fixed;
    margin-left: 1280px;
    margin-top:200px;
    flex: 1;
    text-align: left;
    font-family: 'Noto Serif', serif;
    
}
.secondnav .nav li{
    list-style: none;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
}
.secondnav .nav a{
    text-decoration:none; 
    color:black;
}
.secondnav .nav a:hover{
    color:darkolivegreen;
}
footer{
    padding-top:20px;
    text-align: center;
    margin-top: 20px;
    background-color:black;
    color: white;
    height: 70px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .cardbody{
        margin: 0;
        display: block;
    }
    .nav{
        float: none;
    }

}